<!-- Optional additional links to insert for icons links -->

<a
  id="subscribe-link"
  class="icon"
  title="GitHub"
  aria-label="GitHub"
  href="https://github.com/Animal-aDNA-Research-Community"
>
  {% include svg/github.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Slack Channel"
  aria-label="Slack Channel"
  href="https://join.slack.com/t/aarc-8tg1497/shared_invite/zt-2evac9tqu-GXoU0UsmLbI4mIsS91XMcw"
>
  {% include svg/slack.svg %}
</a>

<a
  id="send-email"
  class="icon"
  title="Mailing List"
  aria-label="Mailing List"
  href="https://www.jiscmail.ac.uk/cgi-bin/webadmin?A0=AARC"
>
  {% include svg/email.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Twitter"
  aria-label="Twitter"
  href="https://twitter.com/AaRC_Community"
>
  {% include svg/twitter.svg %}
</a>
<!--
<a
  id="subscribe-link"
  class="icon"
  title="Mastodon"
  aria-label="Mastodon"
  href="https://genomic.social/@spaam_community"
>
  {% include svg/mastodon.svg %}
</a>

<a
  id="subscribe-link"
  class="icon"
  title="Youtube"
  aria-label="Youtube"
  href="https://www.youtube.com/@spaam-community"
>
  {% include svg/youtube.svg %}
</a>
-->