<div id="sidebar" style="height:100%">

  <header>
  <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
  {% unless page.url == "/" %}
  <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
  {% endunless %}
  <a href="/AaRC.github.io">
  <img src="/AaRC.github.io/assets/media/AaRC_blackletters.png" alt="AaRC" class="center" role="log"/>
  </a>
  </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
  <p class="lead">{{"Animal aDNA Research Community"}}</p>
  </header>
  

<a href="/AaRC.github.io/about">About</a> 
<a href="/AaRC.github.io/category/news">News</a>
<a href="/AaRC.github.io/category/blog">Blog</a>
<a href="/AaRC.github.io/projects">Projects</a>
<a href="/AaRC.github.io/category/events">Events</a>
<a href="/AaRC.github.io/category/publications">Publications</a>
<a href="/AaRC.github.io/support-and-acknowledgements">Support and Acknowledgements</a>
<a href="/AaRC.github.io/code-of-conduct">Code of Conduct</a>
<a href="/AaRC.github.io/constitution">Constitution</a>
<a href="/AaRC.github.io/steering_committee">Steering Committee</a>



  
  </nav>
  {% if site.version %}
  <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
  {% include sidebar-icon-links.html %}
  
  <p class='copyright'> &copy; {{ site.time | date: '%Y' }}.
  <a href="{{ "/LICENSE.md" | relative_url }}">MIT License.</a>
  </p>
  </div>



