<div id="sidebar" style="height:100%">

  <header>
  <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
  {% unless page.url == "/" %}
  <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
  {% endunless %}
  <a href="/">
  <img src="https://github.com/Animal-aDNA-Research-Community/AaRC.github.io/blob/master/assets/media/AaRC_blackletters.png" alt="AaRC" class="center" role="log"/>
  </a>
  </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
  <p class="lead">{{"Animal aDNA Research Community"}}</p>
  </header>
  

<a href="/about.md">About</a> 
<a href="/category/news.md">News</a>
<a href="/category/blog.md">Blog</a>
<a href="/projects.md">Projects</a>
<a href="/category/events.md">Events</a>
<a href="/category/publications.md">Publications</a>
<a href="/support-and-acknowledgements.md">Support and Acknowledgements</a>
<a href="/code-of-conduct.md">Code of Conduct</a>
<a href="/constitution.md">Constitution</a>
<a href="/steering_committee.md">Steering Committee</a>



  
  </nav>
  {% if site.version %}
  <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
  {% include sidebar-icon-links.html %}
  
  <p class='copyright'> &copy; {{ site.time | date: '%Y' }}.
  <a href="{{ "/LICENSE.md" | relative_url }}">MIT License.</a>
  </p>
  </div>



